{% if include.events.size > 0 %}
    <h3 class="title mt-6 is-size-3-desktop is-size-4-mobile has-text-centered">
        {{ include.title }}
    </h3>

    <!-- Event Item List (Desktop) -->
    <div class="desktop-only">
        <div class="columns is-multiline">
            {% for event in include.events %}
                {% include components/events/item-desktop.html %}
            {% endfor %}
        </div>
    </div>

    <!-- Event Card Grid (Mobile) -->
    <div class="touch-only">
        <div class="columns is-multiline is-mobile">
            {% for event in include.events %}
                {% include components/events/item-mobile.html %}
            {% endfor %}
        </div>
    </div>
{% endif %}