{% if event.status == "ongoing" %}
    <a class="button" href="{{ event.url }}/live">
        <span class="icon"><i class="fa-solid fa-video" aria-hidden="true"></i></span>
        <span>Join Now</span>
    </a>
{% elsif event.status == "upcoming" %}
    <a class="button" href="{{ event.url }}">
        <span class="icon"><i class="fa-solid fa-calendar-days" aria-hidden="true"></i></span>
        <span>{{ event.cta-text }}</span>
    </a>
{% elsif event.status == "past" %}
    <button class="button" disabled aria-disabled="true">
        <span class="icon"><i class="fa-solid fa-book" aria-hidden="true"></i></span>
        <span>Event Ended</span>
    </button>
{% endif %}