---
layout: compress
title: Page Not Found
---
<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include navbar.html %}

        <section id="page-404" class="hero is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-size-1-desktop is-size-2-mobile">
                        404
                    </h1>
                    <h2 class="subtitle mb-4 is-size-3-desktop is-size-4-mobile">
                        Looks like this page wandered off the spectrum.
                    </h2>
                    <hr>
                    <p class="mb-5 is-size-5">
                        But don't worry, you can return to a safe space!
                    </p>
                    <a class="button is-large" href="/">
                        {% include components/button-content.html icon="fa-solid fa-house" text="Back To Home" %}
                    </a>
                </div>
            </div>
        </section>

        {% include scripts.html %}
    </body>
</html>