---
layout: compress
permalink: /support-us
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include navbar.html %}

        <section id="support-us-hero" class="hero">
            <div class="hero-body mt-6">
                {% include components/section-header.html use_navbar_margin=false heading="Support Us" subheading="Help Us Grow A More Colorful, Inclusive World" icon="fa-solid fa-rainbow" %}
            </div>
        </section>

        {% include footer.html %}

        {% include scripts.html %}
    </body>
</html>