<section id="home" class="hero is-fullheight">
    <div class="hero-background-overlay"></div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- Header -->
            <header class="mb-5">
                <h1 class="title is-size-1-desktop is-size-2-mobile">
                    {{ site.title }}
                </h1>
                <h2 class="subtitle is-size-3-desktop is-size-4-mobile">
                    {{ site.tagline }}
                </h2>
            </header>

            <!-- Illustration -->
            <img class="hero-graphic mb-6" src="{{ site.hero-graphic }}" alt="Community illustration">

            <!-- Call-To-Action Buttons -->
            <div class="buttons are-medium is-centered">
                <a class="button" href="/#stories">
                    <span class="icon">
                        <i class="fa-solid fa-users" aria-hidden="true"></i>
                    </span>
                    <span>Read Our Stories</span>
                </a>
                <a class="button is-outlined" href="/#resources">
                    <span class="icon">
                        <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
                    </span>
                    <span>Explore Resources</span>
                </a>
            </div>

            <!-- Icon Grid -->
            <div class="columns is-multiline is-centered is-mobile icon-container">
                {% for icon in site.data.home-icons limit:4 %}
                    <div class="column is-2-desktop is-3-tablet is-6-mobile">
                        <div class="icon-wrapper">
                            <i class="{{ icon.icon }} fa-2x" aria-hidden="true"></i>
                            <p class="mt-2 is-size-7">
                                {{ icon.name }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>