<section id="resources" class="section">
    <div class="container">
        {% include components/section-header.html heading="Resources" subheading="Helpful Tools for Every Step of Your Journey." icon="fa-solid fa-lightbulb" %}

        <!-- Featured Resource -->
        <div class="card mb-6">
            <header class="card-header">
                <h3 class="card-header-title title is-size-3-desktop is-size-4-mobile is-centered">
                    Featured Resource
                </h3>
            </header>

            <div class="card-content">
                <div class="columns is-multiline is-vcentered">
                    <div class="column is-3">
                        <img src="{{ site.featured-resource.logo }}" alt="{{ site.featured-resource.name }} Logo">
                    </div>
                    <div class="column is-9">
                        <h4 class="title mb-4 is-size-5">
                            {{ site.featured-resource.name }}
                        </h4>
                        <p>
                            {{ site.featured-resource.description }}
                        </p>
                        <div class="buttons mt-3">
                            <a class="button" href="{{ site.featured-resource.url }}" target="_blank">
                                Visit Website
                            </a>

                            {% unless site.featured-resource.hotline-url == "" or site.featured-resource.hotline-url == nil %}
                                <a class="button is-outlined" href="{{ site.featured-resource.hotline-url }}">
                                    {{ site.featured-resource.hotline-text }}
                                </a>
                            {% endunless %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mb-6">

        <!-- Resource Accordion -->
        {% for resource in site.resources %}
            <div class="accordion-item mb-4">
                <h3 class="accordion-item-header" style="background-color: {{ resource.header-color }};">
                    <button id="accordion-item-header-{{ forloop.index }}" class="accordion-item-header-button" aria-controls="accordion-item-body-{{ forloop.index }}" aria-expanded="false" style="color: {{ resource.header-font-color }};">
                        <span class="accordion-item-header-start">
                            <span class="icon"><i class="{{ resource.icon }}" aria-hidden="true"></i></span>
                            <span>{{ resource.title }}</span>
                        </span>
                        <span class="accordion-item-header-end">
                            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </h3>

                <div id="accordion-item-body-{{ forloop.index }}" class="accordion-item-body" role="region" aria-labelledby="accordion-item-header-{{ forloop.index }}">
                    <div class="content">
                        <p>
                            {{ resource.description }}
                        </p>
                        <a class="button is-small is-outlined" href="{{ resource.url }}">
                            View Resource
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<script src="/assets/js/sections/resources.js"></script>