<section id="events" class="section">
    <div class="container">
        {% include components/section-header.html heading="Events" subheading="Be Seen. Be Heard. Be There." icon="fa-solid fa-calendar-days" %}

        {% assign ongoing_events = site.data.events | where: "status", "ongoing" %}
        {% assign upcoming_events = site.data.events | where: "status", "upcoming" %}
        {% assign past_events = site.data.events | where: "status", "past" %}

        {% include components/events/event-group.html events=ongoing_events title="Ongoing Events" %}
        {% include components/events/event-group.html events=upcoming_events title="Upcoming Events" %}
        {% include components/events/event-group.html events=past_events title="Past Events" %}
    </div>
</section>

<script src="/assets/js/sections/events.js"></script>