<div class="column is-12 event {{ event.status }} {% unless forloop.first %}mt-6{% endunless %}">
    <div class="columns">
        <!-- Date Column -->
        <div class="column is-1 date-column" style="background-color: {{ event.background-color }};">
            <p class="is-size-4 has-text-centered" style="color: {{ event.font-color }};">
                {{ event.date | date: "%b %d %Y" | upcase }}
            </p>
        </div>

        <!-- Content Column -->
        <div class="column is-11 content-column">
            <div class="event-content">
                <h3 class="is-size-4">
                    {{ event.title }}
                </h3>
                <p>
                    {{ event.description }}
                </p>
            </div>
            {% include event-cta-button.html %}
        </div>
    </div>
</div>