<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#000000">

<!-- SEO Tags -->
<meta name="title" content="{{ site.title }}">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<meta name="robots" content="noindex, nofollow">

<!-- Open Graph Tags -->
<meta property="og:type" content="article">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.description | default: site.description }}">
<meta property="og:image" content="{{ page.image | default: site.image }}">
<meta property="og:image:alt" content="{{ page.title | default: site.title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="article:author" content="{{ site.og-author }}">

<!-- LinkedIn Tags -->
<meta name="title" property="og:title" content="{{ page.title | default: site.title }}">
<meta name="description" property="og:description" content="{{ page.description | default: site.description }}">
<meta name="image" property="og:image" content="{{ page.image | default: site.image }}">

<!-- X Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.x-creator }}">
<meta name="twitter:creator" content="{{ site.x-creator }}">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ page.description | default: site.description }}">
<meta name="twitter:image" content="{{ page.image | default: site.image }}">
<meta name="twitter:image:alt" content="{{ page.title | default: site.title }}">