<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ site.logo }}" alt="{{ site.title }}">
            </a>

            <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="main-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="main-navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/#">
                    Home
                </a>
                <a class="navbar-item" href="/#about">
                    About Us
                </a>
                <a class="navbar-item" href="/#events">
                    Events
                </a>
                <a class="navbar-item" href="/#resources">
                    Resources
                </a>
                <a class="navbar-item" href="/#join">
                    Join Us
                </a>
                <a class="navbar-item" href="/news">
                    News
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-outlined" href="/contact">
                            <i class="fas fa-envelope mr-2"></i> Contact
                        </a>
                        <a class="button is-primary" href="/donate">
                            <i class="fas fa-heart mr-2"></i> Support Us
                        </a>
                        <button id="theme-toggle" class="button is-primary is-outlined">
                            <i id="theme-icon" class="fa-solid fa-rainbow"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", function()
    {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);

        $navbarBurgers.forEach(function(element)
        {
            element.addEventListener("click", function()
            {
                const target = element.dataset.target;
                const $target = document.getElementById(target);

                element.classList.toggle("is-active");
                $target.classList.toggle("is-active");
            });
        });

        const themeToggle = document.getElementById("theme-toggle");
        const themeIcon = document.getElementById("theme-icon");
        const themes = ["pride", "light", "dark"];

        let currentTheme = localStorage.getItem("theme") || "pride";

        applyTheme(currentTheme);

        themeToggle.addEventListener("click", function()
        {
            const nextTheme = themes[(themes.indexOf(currentTheme) + 1) % themes.length];
            currentTheme = nextTheme;
            localStorage.setItem("theme", currentTheme);
            applyTheme(currentTheme);
        });

        function applyTheme(theme)
        {
            const htmlElement = document.documentElement;

            const css = document.createElement("style");
            css.type = "text/css";
            css.appendChild(document.createTextNode(
                `*:not(.fade-in):not(.flip-in)
                {
                    transition: none !important;
                }`
            ));
            htmlElement.appendChild(css);

            htmlElement.classList.remove(...themes);
            htmlElement.classList.add(theme);
            switch (theme)
            {
                case "pride":
                    themeIcon.className = "fa-solid fa-rainbow";
                    break;
                case "light":
                    themeIcon.className = "fa-solid fa-sun";
                    break;
                case "dark":
                    themeIcon.className = "fa-solid fa-moon";
                    break;
            }

            void window.getComputedStyle(css).opacity;
            htmlElement.removeChild(css);
        }
    });
</script>