<section id="home" class="hero is-fullheight">
    <div class="hero-background-overlay"></div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <!-- Heading -->
            <h1 class="title is-size-1-desktop is-size-2-mobile">
                {{ site.title }}
            </h1>
            <h2 class="subtitle is-size-3-desktop is-size-4-mobile">
                {{ site.tagline }}
            </h2>

            <!-- Illustration -->
            <img class="hero-graphic mb-6" src="{{ site.hero-graphic }}" alt="Community illustration">

            <!-- Call-To-Action Buttons -->
            <div class="columns is-multiline is-centered is-mobile">
                <div class="column is-3-desktop is-5-tablet is-10-mobile">
                    <a class="button is-medium is-fullwidth" href="/#events">
                        See Upcoming Events
                    </a>
                </div>
                <div class="column is-3-desktop is-5-tablet is-10-mobile">
                    <a class="button is-medium is-fullwidth is-outlined" href="/#resources">
                        Explore Resources
                    </a>
                </div>
            </div>

            <!-- Icon Grid -->
            <div class="columns is-multiline is-centered is-mobile">
                <div class="column is-2-desktop is-3-tablet is-6-mobile">
                    <div class="icon-container">
                        <i class="fa-solid fa-heart fa-2x"></i>
                        <p class="mt-2 is-size-7">
                            Love
                        </p>
                    </div>
                </div>
                <div class="column is-2-desktop is-3-tablet is-6-mobile">
                    <div class="icon-container">
                        <i class="fa-solid fa-hands-helping fa-2x"></i>
                        <p class="mt-2 is-size-7">
                            Support
                        </p>
                    </div>
                </div>
                <div class="column is-2-desktop is-3-tablet is-6-mobile">
                    <div class="icon-container">
                        <i class="fa-solid fa-palette fa-2x"></i>
                        <p class="mt-2 is-size-7">
                            Creativity
                        </p>
                    </div>
                </div>
                <div class="column is-2-desktop is-3-tablet is-6-mobile">
                    <div class="icon-container">
                        <i class="fa-solid fa-users fa-2x"></i>
                        <p class="mt-2 is-size-7">
                            Community
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>