<section id="events" class="section">
    <div class="container">
        <!-- Header -->
        <header class="mb-5 has-text-centered">
            <h1 class="title is-size-2-desktop is-size-3-mobile">
                <i class="fa-solid fa-calendar-alt"></i> Events
            </h1>
            <h2 class="subtitle is-size-4-desktop is-size-5-mobile ls-wide">
                Be Seen. Be Heard. Be There.
            </h2>
        </header>

        {% assign ongoing_events = site.data.events | where: "status", "ongoing" %}
        {% assign upcoming_events = site.data.events | where: "status", "upcoming" %}
        {% assign past_events = site.data.events | where: "status", "past" %}
        {% assign event_limit = 6 %}
        {% assign events_shown_on_desktop = 0 %}
        {% assign events_shown_on_mobile = 0 %}

        {% if ongoing_events.size > 0 %}
            <h3 class="title mt-6 is-size-3-desktop is-size-4-mobile has-text-centered">
                Ongoing Events
            </h3>

            <div class="desktop-only">
                {% for event in ongoing_events %}
                    {% if events_shown_on_desktop < event_limit %}
                        {% assign events_shown_on_desktop = events_shown_on_desktop | plus: 1 %}
                        {% include event-item-desktop.html event=event %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="touch-only">
                <div class="columns is-multiline is-mobile">
                    {% for event in ongoing_events %}
                        {% if events_shown_on_mobile < event_limit %}
                            {% assign events_shown_on_mobile = events_shown_on_mobile | plus: 1 %}
                            {% include event-card-mobile.html event=event %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if upcoming_events.size > 0 %}
            <h3 class="title mt-6 is-size-3-desktop is-size-4-mobile has-text-centered">
                Upcoming Events
            </h3>

            <div class="desktop-only">
                {% for event in upcoming_events %}
                    {% if events_shown_on_desktop < event_limit %}
                        {% assign events_shown_on_desktop = events_shown_on_desktop | plus: 1 %}
                        {% include event-item-desktop.html event=event %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="touch-only">
                <div class="columns is-multiline is-mobile">
                    {% for event in upcoming_events %}
                        {% if events_shown_on_mobile < event_limit %}
                            {% assign events_shown_on_mobile = events_shown_on_mobile | plus: 1 %}
                            {% include event-card-mobile.html event=event %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if past_events.size > 0 %}
            <h3 class="title mt-6 is-size-3-desktop is-size-4-mobile has-text-centered">
                Past Events
            </h3>

            <div class="desktop-only">
                {% for event in past_events %}
                    {% if events_shown_on_desktop < event_limit %}
                        {% assign events_shown_on_desktop = events_shown_on_desktop | plus: 1 %}
                        {% include event-item-desktop.html event=event %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="touch-only">
                <div class="columns is-multiline is-mobile">
                    {% for event in past_events %}
                        {% if events_shown_on_mobile < event_limit %}
                            {% assign events_shown_on_mobile = events_shown_on_mobile | plus: 1 %}
                            {% include event-card-mobile.html event=event %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function()
    {
        const events = document.querySelectorAll("#events .event");
        const cards = document.querySelectorAll("#events .card");

        if (window.matchMedia("(prefers-reduced-motion: no-preference)").matches)
        {
            const delay = 250;

            const eventObserver = new IntersectionObserver(function(entries)
            {
                entries.forEach(function(entry, index)
                {
                    if (entry.isIntersecting)
                    {
                        setTimeout(function()
                        {
                            entry.target.classList.add("fade-in");
                            eventObserver.unobserve(entry.target);
                        }, index * delay);
                    }
                });
            }, {
                threshold: 0.15
            });
            const cardObserver = new IntersectionObserver(function(entries)
            {
                entries.forEach(function(entry, index)
                {
                    if (entry.isIntersecting)
                    {
                        setTimeout(function()
                        {
                            entry.target.classList.add("fade-in");
                            cardObserver.unobserve(entry.target);
                        }, index * delay);
                    }
                });
            }, {
                threshold: 0.15
            });

            events.forEach(event => eventObserver.observe(event));
            cards.forEach(event => cardObserver.observe(event));
        } else
        {
            events.forEach(function(event)
            {
                event.classList.add("fade-in");
            });
            cards.forEach(function(card)
            {
                card.classList.add("fade-in");
            });
        }
    });
</script>