@use "abstracts/variables" as vars;

@mixin desktop-only-media-query($display)
{
    display: $display;

    @media screen and (max-width: vars.$breakpoint-touch)
    {
        display: none;
    }
}

@mixin touch-only-media-query($display)
{
    display: none;

    @media screen and (max-width: vars.$breakpoint-touch)
    {
        display: $display;
    }
}

@mixin flex-wrap()
{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-column()
{
    display: flex;
    flex-direction: column;
}

@mixin button($font-color, $base-color, $hover-color)
{
    border-color: transparent;
    color: $font-color;
    background-color: $base-color;

    &:hover
    {
        background-color: $hover-color;
    }
}

@mixin outlined-button($font-color, $base-color, $hover-color)
{
    border-color: $base-color;
    color: $font-color;

    &:hover
    {
        background-color: $hover-color;
    }
}