@use "abstracts/variables" as vars;

@mixin touch-only-media-query($display)
{
    display: none;

    @media screen and (max-width: vars.$breakpoint-touch)
    {
        display: flex;
    }
}

@mixin flex-wrap()
{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-column()
{
    display: flex;
    flex-direction: column;
}