@use "abstracts/variables" as vars;

@mixin desktop-only-media-query($display)
{
    display: $display;

    @media screen and (max-width: vars.$breakpoint-touch)
    {
        display: none;
    }
}

@mixin touch-only-media-query($display)
{
    display: none;

    @media screen and (max-width: vars.$breakpoint-touch)
    {
        display: $display;
    }
}

@mixin flex-wrap()
{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-column()
{
    display: flex;
    flex-direction: column;
}

@mixin link($base-color, $hover-color, $underline-height, $underline-width-goal)
{
    position: relative;
    text-decoration: none;
    color: $base-color;
    transition: color vars.$animation-time ease;

    &::after
    {
        content: "";
        position: absolute;
        transform: translateX(-50%);
        bottom: 0;
        left: 50%;
        width: 0;
        height: $underline-height;
        background-color: currentcolor;
        transition: width vars.$animation-time ease;
    }

    &:hover, &:focus
    {
        color: $hover-color;

        &::after
        {
            width: $underline-width-goal;
        }
    }
}

@mixin button($font-color, $base-color, $hover-color)
{
    border-color: transparent;
    color: $font-color;
    background-color: $base-color;

    &:hover
    {
        background-color: $hover-color;
    }
}

@mixin outlined-button($font-color, $base-color, $hover-color)
{
    border-color: $base-color;
    color: $font-color;

    &:hover
    {
        background-color: $hover-color;
    }
}