<div class="field is-grouped mt-5">
    <div class="control">
        <button type="button" class="button previous-step-button is-outlined" data-step-id="{{ include.prev_step_id }}">
            <span class="icon">
                <i class="fa-solid fa-arrow-left"></i>
            </span>
            <span>Back</span>
        </button>
    </div>
    <div class="control">
        <button type="button" class="button next-step-button" data-step-id="{{ include.next_step_id }}">
            <span>Next</span>
            <span class="icon">
                <i class="fa-solid fa-arrow-right"></i>
            </span>
        </button>
    </div>
</div>