<blockquote class="{% if include.is_mobile == true %}mt-3 {% endif %}is-size-6">
    {% if include.is_mobile == true %}
        <span class="quotation-mark" aria-hidden="true">&OpenCurlyDoubleQuote;</span>
    {% endif %}
    <span>{{ testimonial.quote }}</span>
    {% if include.is_mobile == true %}
        <span class="quotation-mark" aria-hidden="true">&CloseCurlyDoubleQuote;</span>
    {% endif %}
</blockquote>
<footer>
    <p class="mt-4 is-size-5">
        — {{ testimonial.author }}
    </p>
</footer>