@use "abstracts/variables" as vars;

.notification
{
    background-color: #90d5ff;
    box-shadow: vars.$shadow-light;
}

html
{
    &.light .notification
    {
        background-color: #dbeafe;
    }

    &.dark .notification
    {
        background-color: #1e3a8a;
    }
}