.notification
{
    background-color: #90d5ff;
}

html
{
    &.light .notification
    {
        background-color: #dbeafe;
    }

    &.dark .notification
    {
        background-color: #1e3a8a;
    }
}