---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>
        {% include navbar.html %}

        <section id="resource-hero" class="hero">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title mt-6 is-size-1-desktop is-size-2-mobile">
                        {{ page.title }}
                    </h1>
                    <p class="is-size-5">
                        {{ page.long-description }}
                    </p>
                </div>
            </div>
        </section>

        <main id="resource-main" class="section">
            <div class="container">
                <div class="notification mb-6 has-text-centered">
                    <strong class="is-size-5">
                        Disclaimer
                    </strong>
                    <p class="mt-2 is-size-6">
                        We are not affiliated with the organizations listed in this page and do not endorse their specific views, services, or actions. This list is provided for informational purposes only.
                    </p>
                </div>

                <div class="columns is-multiline is-mobile">
                    {% for subresource in page.subresources %}
                        <div class="column is-4-desktop is-6-tablet is-12-mobile">
                            <div class="card has-text-centered">
                                <header class="card-header">
                                    <h2 class="card-header-title title is-size-3-desktop is-size-4-mobile is-centered">
                                        {{ subresource.name }}
                                    </h2>
                                </header>

                                <div class="card-content">
                                    <p class="mt-2 is-size-6">
                                        {{ subresource.description }}
                                    </p>
                                    <div class="columns is-centered is-mobile mt-2">
                                        <div class="column is-6-desktop is-12-touch">
                                            <a class="button" href="{{ subresource.url }}" target="_blank">
                                                {% include components/button-content.html icon="fa-solid fa-globe" text="Visit Website" %}
                                            </a>
                                        </div>
                                        {% if subresource.hotline-text != nil and subresource.hotline-text != "" and subresource.hotline-url != nil and subresource.hotline-url != "" %}
                                            <div class="column is-6-desktop is-12-touch">
                                                <a class="button is-outlined" href="{{ subresource.hotline-url }}">
                                                    {% include components/button-content.html icon="fa-solid fa-phone" text=subresource.hotline-text %}
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        {% include footer.html %}

        {% include scripts.html %}
    </body>
</html>