@use "abstracts/variables" as vars;
@use "abstracts/mixins" as mixins;

#about
{
    background-color: #faf3dd;

    hr
    {
        background-color: #343434;
    }

    .mission-box
    {
        background-color: #d0f0c0;
        border-left: 6px solid transparent;
        border-image: linear-gradient(to bottom, #e40303, #ff8c00, #ffed00, #008026, #004dff, #750787) 1;
        box-shadow: vars.$shadow-heavy;

        blockquote
        {
            font-style: italic;
            color: vars.$font-color-charcoal-1;

            strong
            {
                color: vars.$font-color-black;
            }
        }

        p.mt-2
        {
            color: vars.$font-color-charcoal-1;
        }

        // Quote Source
        p.mt-4
        {
            font-weight: vars.$font-weight-bold;
            color: vars.$font-color-black;
        }
    }

    .value-boxes-wrapper
    {
        @include mixins.flex-wrap();

        .column
        {
            display: flex;

            .value-box
            {
                transform: translateX(-16px);
                border-top: 4px solid #e6e6fa;
                opacity: 0.0;
                box-shadow: none; // Removes the default box shadow on Bulma's boxes.
                filter: blur(4px);
                transition: transform vars.$animation-time-long ease, opacity vars.$animation-time-long ease, box-shadow vars.$animation-time-long ease, filter vars.$animation-time-long ease;
                @include mixins.flex-column();

                &.fade-in
                {
                    transform: translateX(0px);
                    opacity: 1.0;
                    box-shadow: vars.$shadow-light;
                    filter: blur(0px);

                    &:hover
                    {
                        transform: translateY(-4px) scale(1.025);
                        box-shadow: vars.$shadow-medium;
                        transition: transform 0.6s ease, opacity vars.$animation-time-long ease, box-shadow 0.6s ease, filter vars.$animation-time-long ease;
                    }
                }

                // Font Awesome Icon
                i
                {
                    color: vars.$font-color-light-gray;
                    filter: blur(1px);
                }

                // Title
                p.mt-2.mb-0.is-size-6
                {
                    font-weight: vars.$font-weight-semi-bold;
                    color: vars.$font-color-charcoal-1;
                }

                // Description
                p.is-size-7
                {
                    font-weight: vars.$font-weight-light;
                    color: vars.$font-color-charcoal-2;
                }
            }
        }
    }

    .testimonial-cards-wrapper
    {
        @include mixins.flex-wrap();

        .column
        {
            @include mixins.flex-column();

            .card
            {
                transform: translateY(20px);
                background-color: #f5f1ec;
                opacity: 0.0;
                box-shadow: vars.$shadow-light, 0 0 8px rgba(214, 2, 112, 0.4), 0 0 12px rgba(155, 79, 150, 0.3), 0 0 16px rgba(0, 56, 168, 0.3);
                transition: transform vars.$animation-time-long ease, opacity vars.$animation-time-long ease, box-shadow vars.$animation-time-long ease;
                flex-grow: 1.0;

                &.fade-in
                {
                    transform: translateY(0px);
                    opacity: 1.0;
                    box-shadow: vars.$shadow-light, 0 0 8px rgba(214, 2, 112, 0.4), 0 0 12px rgba(155, 79, 150, 0.3), 0 0 16px rgba(0, 56, 168, 0.3);
                }

                .card-content
                {
                    .touch-only-flex
                    {
                        text-align: center;
                        flex-direction: column;
                        align-items: center;
                    }

                    img
                    {
                        border: 3px solid transparent;
                        background: linear-gradient(to right, #d60270, #9b4f96, #0038a8);
                        transition: transform vars.$animation-time ease;

                        &:hover
                        {
                            transform: scale(1.05);
                        }
                    }

                    blockquote
                    {
                        font-style: italic;
                    }

                    p
                    {
                        font-weight: vars.$font-weight-bold;
                    }
                }
            }
        }
    }

    .pride-image-wrapper
    {
        transform: rotateY(90deg);
        perspective: 1000px;
        opacity: 0.0;
        max-width: 100%;
        margin: 0 auto;
        backface-visibility: hidden;
        transition: transform vars.$animation-time-long ease, opacity vars.$animation-time-long ease, filter vars.$animation-time-long ease;
        display: block;

        &.flip-in
        {
            transform: rotateY(0deg);
            opacity: 1.0;
        }

        .pride-image
        {
            border: 3px dotted #aaa;
            border-radius: 8px;
            box-shadow: vars.$shadow-light;
            transition: transform vars.$animation-time ease, box-shadow vars.$animation-time ease;

            &:hover
            {
                transform: scale(1.05);
                box-shadow: vars.$shadow-heavy;
            }
        }

        @media screen and (max-width: vars.$breakpoint-touch)
        {
            width: 70%;
            height: auto;
        }
    }

    @media (prefers-reduced-motion: reduce)
    {
        img
        {
            transition: none !important;
        }
    }
}