@use "abstracts/variables" as vars;
@use "abstracts/mixins" as mixins;

$text-ongoing-event-watermark: "LIVE";
$text-upcoming-event-watermark: "SOON";
$angle-event-watermark-desktop: 5deg;
$angle-event-watermark-mobile: 30deg;
$margin-event-content: 1.0rem;
$border-color-event-border-accent-light: #b5ffff;
$border-color-event-border-accent-dark: #00e8e8;
$border-radius-date-column: 4px; // Desktop
$border-radius-content-column: 16px; // Desktop
$font-size-event-watermark-desktop: 72px;
$font-size-event-watermark-mobile: 96px;
$font-color-ongoing-event-watermark-pride: #247ba0;
$font-color-ongoing-event-watermark-light: #167dac;
$font-color-ongoing-event-watermark-dark: #aad4f0;
$font-color-upcoming-event-watermark-pride: #aa3e52;
$font-color-upcoming-event-watermark-light: #a8325e;
$font-color-upcoming-event-watermark-dark: #e4b78e;
$event-border-accent: 6px solid #e8ffff;

@mixin event-fade-in-animation()
{
    transform: translateY(-20px);
    opacity: 0.0;
    transition: transform vars.$animation-time-long ease, opacity vars.$animation-time-long ease;

    &.fade-in
    {
        transform: translateY(0px);
        opacity: 1.0;
    }
}

@mixin event-states()
{
    &.ongoing
    {
        box-shadow: vars.$shadow-medium;

        .content-column, .card-content
        {
            background-color: #ade8f4;

            .button
            {
                font-weight: vars.$font-weight-bold;
                background-color: #00b4d8;
                transition: transform vars.$animation-time ease, background-color vars.$animation-time ease;

                &:hover
                {
                    transform: rotateZ(2deg) scale(1.05);
                    background-color: #0096b5;
                }
            }
        }

        .content-column
        {
            @include event-content-watermark-style($text-ongoing-event-watermark, $angle-event-watermark-desktop, $font-size-event-watermark-desktop, $font-color-ongoing-event-watermark-pride);
        }

        .card-content
        {
            @include event-content-watermark-style($text-ongoing-event-watermark, $angle-event-watermark-mobile, $font-size-event-watermark-mobile, $font-color-ongoing-event-watermark-pride);
        }
    }

    &.upcoming
    {
        box-shadow: vars.$shadow-light;

        .content-column, .card-content
        {
            background-color: #ffe8e8;

            .button
            {
                font-weight: vars.$font-weight-semi-bold;
                background-color: #ff4d8d;
                transition: transform vars.$animation-time ease, background-color vars.$animation-time ease, box-shadow vars.$animation-time ease;

                &:hover
                {
                    transform: scale(1.025);
                    background-color: #d34080;
                    box-shadow: 0 0 16px rgba(255, 77, 141, 0.75);
                }
            }
        }

        .content-column
        {
            @include event-content-watermark-style($text-upcoming-event-watermark, $angle-event-watermark-desktop, $font-size-event-watermark-desktop, $font-color-upcoming-event-watermark-pride);
        }

        .card-content
        {
            @include event-content-watermark-style($text-upcoming-event-watermark, $angle-event-watermark-mobile, $font-size-event-watermark-mobile, $font-color-upcoming-event-watermark-pride);
        }
    }

    &.past
    {
        box-shadow: vars.$shadow-light;

        .content-column, .card-content
        {
            background-color: #f0f0f0;

            .button
            {
                font-weight: vars.$font-weight-medium;
                background-color: #b095a8;
                transition: filter vars.$animation-time ease;
                cursor: default;

                &:hover
                {
                    filter: saturate(70%) grayscale(40%);
                }
            }
        }
    }
}

@mixin event-content-style()
{
    h3
    {
        font-weight: vars.$font-weight-semi-bold;
    }
}

@mixin event-cta-button-style()
{
    border-color: transparent;
    color: vars.$font-color-white;
}

@mixin event-content-watermark-style($text, $angle, $font-size, $font-color)
{
    position: relative;

    &::before
    {
        content: $text;
        position: absolute;
        transform: translate(-50%, -50%) rotateZ($angle);
        top: 50%;
        left: 50%;
        font-size: $font-size;
        font-weight: vars.$font-weight-extra-bold;
        color: $font-color;
        letter-spacing: 0.5rem;
        opacity: 0.15;
        pointer-events: none;
    }
}

@mixin event-alternating-border-accent($border-accent-color)
{
    &:nth-child(odd)
    {
        border-right-color: $border-accent-color;
    }

    &:nth-child(even)
    {
        border-left-color: $border-accent-color;
    }
}

@mixin active-event-content-colors($background-color, $watermark-color, $button-base-color, $button-hover-color)
{
    background-color: $background-color;

    &::before
    {
        color: $watermark-color;
    }

    .button
    {
        background-color: $button-base-color;

        &:hover
        {
            background-color: $button-hover-color;
        }
    }
}

@mixin past-event-content-colors($background-color, $button-base-color)
{
    background-color: $background-color;

    .button
    {
        background-color: $button-base-color;
    }
}

#events
{
    padding: 6.0rem 0;
    background-color: #f9f6ee;

    // Event Item (Desktop)
    .event
    {
        overflow: hidden;
        @include event-fade-in-animation();

        &:nth-child(odd)
        {
            border-right: $event-border-accent;
            border-radius: $border-radius-date-column $border-radius-content-column $border-radius-content-column $border-radius-date-column;
        }

        &:nth-child(even)
        {
            border-left: $event-border-accent;
            border-radius: $border-radius-content-column $border-radius-date-column $border-radius-date-column $border-radius-content-column;

            .columns
            {
                flex-direction: row-reverse;

                .content-column
                {
                    text-align: right;
                    flex-direction: row-reverse;

                    .event-content
                    {
                        margin-left: 0;
                        margin-right: $margin-event-content;
                    }

                    .button
                    {
                        margin-left: $margin-event-content;
                        margin-right: 0;
                    }
                }
            }
        }

        @include event-states();

        .date-column
        {
            // background-color is set in events.yml entries.

            p
            {
                font-weight: vars.$font-weight-bold;
                // color is set in events.yml entries.
            }
        }

        .content-column
        {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .event-content
            {
                margin-left: $margin-event-content;
                flex-grow: 1.0;

                @include event-content-style();
            }

            .button
            {
                width: 160px;
                margin-right: $margin-event-content;
                @include event-cta-button-style();
            }
        }
    }

    // Event Card (Mobile)
    .card
    {
        height: 100%; // Ensures that the card stretches properly.
        @include event-fade-in-animation();
        @include mixins.flex-column();

        @include event-states();

        .card-content
        {
            @include mixins.flex-column();
            flex-grow: 1.0; // Makes the card stretch to match the height of the tallest card.
            justify-content: space-between;
            align-items: center;

            @include event-content-style();

            .button
            {
                width: 200px;
                margin-top: 1.5rem;
                @include event-cta-button-style();
            }
        }
    }

    @media (prefers-reduced-motion: reduce)
    {
        .event
        {
            transition: none !important;

            .content-column .button
            {
                transition: none !important;
            }
        }

        .card
        {
            transition: none !important;

            .card-content .button
            {
                transition: none !important;
            }
        }
    }
}

html
{
    &.light #events
    {
        background-color: #f2f2f2;

        .event
        {
            @include event-alternating-border-accent($border-color-event-border-accent-light);
        }

        .ongoing .content-column, .ongoing .card-content
        {
            @include active-event-content-colors(#80dbee, $font-color-ongoing-event-watermark-light, #5ea9c1, #4d8fa3);
        }

        .upcoming .content-column, .upcoming .card-content
        {
            @include active-event-content-colors(#ffb5b5, $font-color-upcoming-event-watermark-light, #d47a9b, #b66680);
        }

        .past .content-column, .past .card-content
        {
            @include past-event-content-colors(#d6d6d6, #b4bcbe);
        }
    }

    &.dark #events
    {
        background-color: #2c2c2c;

        .event
        {
            @include event-alternating-border-accent($border-color-event-border-accent-dark);
        }

        .ongoing
        {
            box-shadow: 0 0 30px rgba(0, 119, 182, 1.0);
        }

        .upcoming
        {
            box-shadow: 0 0 30px rgba(155, 34, 38, 1.0);
        }

        .past
        {
            box-shadow: vars.$shadow-heavy;
        }

        .ongoing .content-column, .ongoing .card-content
        {
            @include active-event-content-colors(#0077b6, $font-color-ongoing-event-watermark-dark, #31a7e3, #6bc4f1);
        }

        .upcoming .content-column, .upcoming .card-content
        {
            @include active-event-content-colors(#9b2226, $font-color-upcoming-event-watermark-dark, #e36414, #f08c4b);
        }

        .past .content-column, .past .card-content
        {
            @include past-event-content-colors(#495057, #d0d8da);
        }
    }
}