@use "abstracts/variables" as vars;
@use "abstracts/mixins" as mixins;

$margin-checkbox: 0.5rem;
$color-neutral-pride: #e0e0e0;
$color-neutral-dark: #666;
$color-progress: #00a36c;
$alpha-testimonial-carousel-arrow-base: 0.8;
$alpha-testimonial-carousel-arrow-hover: 0.9;
$opacity-testimonial-carousel-pagination-dot: 0.3;

@mixin progress-line-style($width, $background-color, $z-index)
{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    width: $width;
    height: 2px;
    background-color: $background-color;
    z-index: $z-index;
}

#join
{
    padding: 6.0rem 0;
    background-color: #c1f0d9;

    .splide
    {
        .splide__arrows .splide__arrow
        {
            background: rgba(255, 255, 255, $alpha-testimonial-carousel-arrow-base);
            opacity: 0.7;
            transition: background vars.$animation-time ease, opacity vars.$animation-time ease;

            svg
            {
                fill: $color-progress;
                transition: fill vars.$animation-time ease;
            }

            &:hover
            {
                opacity: 1.0;
                background: rgba(255, 255, 255, $alpha-testimonial-carousel-arrow-hover);

                svg
                {
                    fill: #008f5f;
                }
            }
        }

        .splide__track .splide__list .splide__slide
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2.0rem 3.5rem;

            .box
            {
                border: 4px dotted #ff9a8c;
                background-color: #fff5ba;
                box-shadow: vars.$shadow-medium;
                transition: background-color vars.$animation-time ease;

                figure
                {
                    display: inline-block;

                    img
                    {
                        border: 3px solid transparent;
                        background: linear-gradient(to right, #ff218c, #ffd800, #21b1ff);
                        box-shadow: 0 0 8px rgba(255, 33, 140, 0.5), 0 0 12px rgba(255, 216, 0, 0.4), 0 0 16px rgba(33, 177, 255, 0.4);
                        transition: transform vars.$animation-time-medium ease;

                        &:hover
                        {
                            transform: translateY(-8px);
                        }
                    }
                }

                blockquote
                {
                    font-style: italic;

                    .quotation-mark
                    {
                        font-family: vars.$font-primary;
                        color: vars.$font-color-charcoal;
                    }
                }

                // Quote Source
                footer p
                {
                    font-weight: vars.$font-weight-bold;
                    color: vars.$font-color-black;
                }
            }
        }

        .splide__pagination li .splide__pagination__page
        {
            background: rgba(138, 43, 226, $opacity-testimonial-carousel-pagination-dot);
            transition: transform vars.$animation-time ease, background vars.$animation-time ease;

            &.is-active
            {
                transform: scale(1.3);
                background: #8a2be2;
            }
        }
    }

    #join-form
    {
        border-top: 4px solid $color-progress;
        border-radius: 20px;
        box-shadow: vars.$shadow-heavy;

        .progress-bar
        {
            position: relative;
            margin-bottom: 2.0rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .progress-line
            {
                @include progress-line-style(0%, $color-progress, 2);
                transition: width 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
            }

            .progress-step
            {
                position: relative;
                z-index: 3;
                @include mixins.flex-column();
                align-items: center;

                .step-dot
                {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 0.5rem;
                    border: 2px solid $color-neutral-pride;
                    border-radius: vars.$border-radius-rounded;
                    background-color: #fff;
                    transition: all vars.$animation-time ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .step-number
                    {
                        font-size: 14px;
                        font-weight: vars.$font-weight-bold;
                        color: vars.$font-color-grey;
                        transition: color vars.$animation-time ease;
                    }

                    .step-check
                    {
                        color: vars.$font-color-white;
                        font-size: 14px;
                        display: none;
                    }
                }

                &.is-active
                {
                    .step-dot
                    {
                        transform: scale(1.1);
                        border-color: $color-progress !important;

                        .step-number
                        {
                            font-weight: vars.$font-weight-extra-black;
                            color: $color-progress !important;
                        }
                    }
                }

                &.is-completed
                {
                    .step-dot
                    {
                        background-color: $color-progress !important;
                        border-color: $color-progress !important;

                        .step-number
                        {
                            display: none;
                        }

                        .step-check
                        {
                            display: block;
                        }
                    }
                }
            }

            // Create the line connecting the dots.
            &::before
            {
                content: "";
                @include progress-line-style(100%, $color-neutral-pride, 1);
            }
        }

        .form-step
        {
            opacity: 0.0;
            transition: opacity 1.0s ease;
            pointer-events: none;
            display: none;

            fieldset
            {
                margin-bottom: 1.5rem;

                legend
                {
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 4px;
                    text-align: center;
                    background-color: $color-neutral-pride;
                }
            }

            input, textarea, select
            {
                border: 1px solid #a9a9a9;
                border-radius: 6px;
                color: vars.$font-color-licorice;
                transition: border-color vars.$animation-time ease, box-shadow vars.$animation-time ease;

                ~ .icon i
                {
                    color: vars.$font-color-grey;
                    transition: color vars.$animation-time ease;
                }

                &:hover ~ .icon i
                {
                    color: vars.$font-color-charcoal;
                }

                &:focus
                {
                    border-color: $color-progress;
                    box-shadow: 0 0 4px rgba($color-progress, 0.25);

                    ~ .icon i
                    {
                        color: vars.$font-color-black;
                    }
                }
            }

            .checkbox
            {
                margin-bottom: $margin-checkbox;
                cursor: pointer;
                display: block;

                input[type="checkbox"]
                {
                    margin-right: $margin-checkbox;

                    &:checked
                    {
                        accent-color: $color-progress;
                    }
                }
            }

            .field.is-grouped .control
            {
                .button
                {
                    width: 160px;
                }

                .previous-step-button
                {
                    @include mixins.outlined-button(vars.$font-color-grey, #a9a9a9, rgba(169, 169, 169, 0.2));
                }

                .next-step-button
                {
                    @include mixins.button(vars.$font-color-white, $color-progress, #008f5f);
                }
            }

            &.is-active
            {
                display: block;
            }

            &.fade-in
            {
                opacity: 1.0;
                pointer-events: auto;
            }

            &.fade-out
            {
                opacity: 0.0;
                pointer-events: none;
            }
        }
    }
}

html
{
    &.light #join
    {
        background-color: #f0f0f0;

        .splide
        {
            .splide__arrows .splide__arrow
            {
                background: rgba(220, 220, 220, $alpha-testimonial-carousel-arrow-base);

                svg
                {
                    fill: #ff46a2;
                }

                &:hover
                {
                    background: rgba(220, 220, 220, $alpha-testimonial-carousel-arrow-hover);

                    svg
                    {
                        fill: #ff69b4;
                    }
                }
            }

            .splide__track .splide__list .splide__slide .box
            {
                border-color: #7fc8f8;
                background-color: #f9f0ff;
            }

            .splide__pagination li .splide__pagination__page
            {
                background: rgba(64, 224, 208, $opacity-testimonial-carousel-pagination-dot);

                &.is-active
                {
                    background: #40e0d0;
                }
            }
        }

        #join-form
        {
            background-color: #faf9f6;

            .field.is-grouped .control
            {
                .previous-step-button
                {
                    @include mixins.outlined-button(vars.$font-color-charcoal, #4a4a4a, rgba(74, 74, 74, 0.2));
                }

                .next-step-button
                {
                    @include mixins.button(vars.$font-color-white, #0077cc, #0055a5);
                }
            }
        }
    }

    &.dark #join
    {
        background-color: #3e3e3e;

        .splide
        {
            .splide__arrows .splide__arrow
            {
                background: rgba(90, 90, 90, $alpha-testimonial-carousel-arrow-base);

                svg
                {
                    fill: #efbf04;
                }

                &:hover
                {
                    background: rgba(90, 90, 90, $alpha-testimonial-carousel-arrow-hover);

                    svg
                    {
                        fill: #ffd700;
                    }
                }
            }

            .splide__track .splide__list .splide__slide .box
            {
                border-color: #fd3db5;
                background-color: #2c3e50;
                box-shadow: vars.$shadow-medium, 0 0 12px rgba(255, 0, 255, 0.5);

                blockquote .quotation-mark
                {
                    color: vars.$font-color-platinum;
                }

                // Quote Source
                footer p
                {
                    color: vars.$font-color-white;
                }
            }

            .splide__pagination li .splide__pagination__page
            {
                background: rgba(0, 255, 255, $opacity-testimonial-carousel-pagination-dot);

                &.is-active
                {
                    background: #00ffff;
                }
            }
        }

        #join-form
        {
            color: vars.$font-color-off-white;
            background-color: #353e43;

            .progress-bar
            {
                // Modify the line connecting the dots.
                &::before
                {
                    background-color: $color-neutral-dark;
                }

                .progress-step
                {
                    .step-dot
                    {
                        border-color: $color-neutral-dark;
                        background-color: #555;

                        .step-number
                        {
                            color: vars.$font-color-light-grey;
                        }
                    }
                }
            }

            fieldset legend
            {
                background-color: #414a4c;
            }

            input, textarea, select
            {
                border-color: #696969;
                color: vars.$font-color-off-white;
                background-color: #4a4a4a;

                ~ .icon i
                {
                    color: vars.$font-color-light-grey;
                }

                &:hover ~ .icon i
                {
                    color: vars.$font-color-platinum;
                }

                &:focus
                {
                    box-shadow: 0 0 4px rgba($color-progress, 0.5);

                    ~ .icon i
                    {
                        color: vars.$font-color-white;
                    }
                }
            }

            .field.is-grouped .control
            {
                .previous-step-button
                {
                    @include mixins.outlined-button(vars.$font-color-platinum, #dcdcdc, rgba(220, 220, 220, 0.2));
                }

                .next-step-button
                {
                    @include mixins.button(vars.$font-color-white, #00b4d8, #0096b5);
                }
            }
        }
    }
}