@use "abstracts/variables" as vars;
@use "abstracts/mixins" as mixins;

#resources
{
    padding: 6.0rem 0;
    background-color: #f0e6ff;

    .card
    {
        max-width: 75%;
        margin: 0 auto;

        .card-header
        {
            background-color: #fffaf0;
        }

        .card-content .columns
        {
            .column.is-3
            {
                display: flex;
                justify-content: center;
                align-items: center;

                img
                {
                    max-width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .column.is-9 .buttons
            {
                .button
                {
                    width: 240px;
                }

                // Primary CTA Button
                .button:not(.is-outlined)
                {
                    @include mixins.button(vars.$font-color-white, #ff4081, #ff0d5f);
                }

                // Secondary CTA Button
                .button.is-outlined
                {
                    @include mixins.outlined-button(vars.$font-color-black, #1976d2, rgba(25, 118, 210, 0.2));
                }
            }
        }
    }

    .accordion-item
    {
        .accordion-item-header
        {
            border-radius: 6px 6px 0 0;
            // background-color is set in resource files.

            button
            {
                width: 100%;
                padding: 0.5rem;
                // color is set in resource files.
                display: flex;
                justify-content: space-between;
                align-items: center;

                .accordion-item-header-start span:not(.icon)
                {
                    font-weight: vars.$font-weight-semi-bold;
                }

                .accordion-item-header-end .fa-chevron-down
                {
                    transition: transform vars.$animation-time ease;
                }
            }
        }

        .accordion-item-body
        {
            max-height: 0; // Eventually overridden by JavaScript styling.
            border-radius: 0 0 12px 12px;
            background-color: #f4f5fa;
            overflow: hidden;
            transition: max-height vars.$animation-time-medium ease;

            .content
            {
                padding: 1.0rem;

                .button
                {
                    @include mixins.outlined-button(vars.$font-color-black, #1976d2, rgba(25, 118, 210, 0.2));
                }
            }
        }
    }

    @media (prefers-reduced-motion: reduce)
    {
        .accordion-item
        {
            .accordion-item-header button .accordion-item-header-end .fa-chevron-down, .accordion-item-body
            {
                transition: none;
            }
        }
    }
}

html
{
    &.light #resources
    {
        background-color: #f5f5f5;

        .card
        {
            .card-header
            {
                background-color: #eee;
            }

            .card-content .columns .column.is-9 .buttons
            {
                // Primary CTA Button
                .button:not(.is-outlined)
                {
                    @include mixins.button(vars.$font-color-white, #0077cc, #0055a5);
                }

                // Secondary CTA Button
                .button.is-outlined
                {
                    @include mixins.outlined-button(vars.$font-color-black, #212121, rgba(0, 0, 0, 0.2));
                }
            }
        }

        .accordion-item .accordion-item-body
        {
            background-color: #fff;

            .content .button
            {
                @include mixins.outlined-button(vars.$font-color-black, #212121, rgba(0, 0, 0, 0.2));
            }
        }
    }

    &.dark #resources
    {
        background-color: #333;

        .card
        {
            .card-header
            {
                background-color: #424242;
            }

            .card-content
            {
                background-color: #4a4a4a;

                .columns .column.is-9 .buttons
                {
                    // Primary CTA Button
                    .button:not(.is-outlined)
                    {
                        @include mixins.button(vars.$font-color-white, #00b4d8, #0096b5);
                    }

                    // Secondary CTA Button
                    .button.is-outlined
                    {
                        @include mixins.outlined-button(vars.$font-color-white, #f2f0ef, rgba(255, 255, 255, 0.2));
                    }
                }
            }
        }

        .accordion-item .accordion-item-body
        {
            background-color: #3a3a3a;

            .content .button
            {
                @include mixins.outlined-button(vars.$font-color-white, #f2f0ef, rgba(255, 255, 255, 0.2));
            }
        }
    }
}