@use "abstracts/variables" as vars;
@use "abstracts/mixins" as mixins;

html
{
    scroll-behavior: smooth;
}

.ls-wide
{
    letter-spacing: 0.05rem;
}

.ls-packed
{
    letter-spacing: -0.025rem;
}

.ls-tight
{
    letter-spacing: -0.05rem;
}

.desktop-only
{
    @include mixins.desktop-only-media-query(inline);
}

.desktop-only-flex
{
    @include mixins.desktop-only-media-query(flex);
}

.touch-only
{
    @include mixins.touch-only-media-query(inline);
}

.touch-only-flex
{
    @include mixins.touch-only-media-query(flex);
}