@use "abstracts/variables" as vars;
@use "abstracts/mixins" as mixins;

// Sets the font and font color of most content on the site. Keyword: most. This
// doesn't always do its thing so elements have to be targeted later on to ensure
// they receive their intended properties.
body
{
    font-family: vars.$font-secondary;
    color: vars.$font-color-licorice;
}

h1, h2, h3, h4, h5, h6, legend
{
    font-family: vars.$font-primary;
    color: vars.$font-color-black;
}

p, blockquote
{
    color: vars.$font-color-licorice;
}

strong, label
{
    color: vars.$font-color-black;
}

input, textarea, select, optgroup
{
    font-family: vars.$font-secondary;
    color: vars.$font-color-licorice !important;
}

::placeholder
{
    color: vars.$font-color-grey !important;
}

.title
{
    color: vars.$font-color-grey;
}

.subtitle
{
    color: vars.$font-color-charcoal;
}

.link
{
    @include mixins.link(#0077cc, #0055a5, 1px, 100%);
}

html
{
    &.light .link
    {
        color: vars.$font-color-grey;

        &:hover
        {
            color: vars.$font-color-charcoal;
        }
    }

    &.dark
    {
        body, p, blockquote
        {
            color: vars.$font-color-off-white;
        }

        h1, h2, h3, h4, h5, h6, legend, strong, label
        {
            color: vars.$font-color-white;
        }

        input, textarea, select, optgroup
        {
            color: vars.$font-color-off-white !important;
        }

        ::placeholder
        {
            color: vars.$font-color-light-grey !important;
        }

        .title
        {
            color: vars.$font-color-light-grey;
        }

        .subtitle
        {
            color: vars.$font-color-platinum;
        }

        .link
        {
            color: vars.$font-color-light-grey;

            &:hover
            {
                color: vars.$font-color-platinum;
            }
        }
    }
}