@use "abstracts/variables" as vars;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;

// Sets the font and font color of most content on the site. Keyword: most. This
// doesn't always do its thing so elements have to be targeted later on to ensure
// they receive their intended properties.
body
{
    font-family: $font-secondary;
    color: vars.$font-color-licorice;
}

h1, h2, h3, h4, h5, h6, legend
{
    font-family: $font-primary;
    color: vars.$font-color-black;
}

p, blockquote
{
    color: vars.$font-color-licorice;
}

strong, label
{
    color: vars.$font-color-black;
}

input, textarea, select, optgroup
{
    font-family: $font-secondary;
    color: vars.$font-color-licorice !important;
}

::placeholder
{
    color: vars.$font-color-grey !important;
}

.title
{
    color: vars.$font-color-grey;
}

.subtitle
{
    color: vars.$font-color-charcoal;
}

html.dark
{
    body
    {
        color: vars.$font-color-off-white;
    }

    h1, h2, h3, h4, h5, h6, legend
    {
        color: vars.$font-color-white;
    }

    p, blockquote
    {
        color: vars.$font-color-off-white;
    }

    strong, label
    {
        color: vars.$font-color-white;
    }

    input, textarea, select, optgroup
    {
        color: vars.$font-color-off-white !important;
    }

    ::placeholder
    {
        color: vars.$font-color-light-grey !important;
    }

    .title
    {
        color: vars.$font-color-light-grey;
    }

    .subtitle
    {
        color: vars.$font-color-platinum;
    }
}