@use "abstracts/variables" as vars;

body
{
    font-family: "Open Sans", sans-serif;
    color: vars.$font-color-licorice;

    h1, h2, h3, h4, h5, h6
    {
        font-family: "Montserrat", sans-serif;
    }

    strong
    {
        color: vars.$font-color-black;
    }

    .title
    {
        color: vars.$font-color-grey;
    }

    .subtitle
    {
        color: vars.$font-color-charcoal;
    }
}

html.dark body
{
    color: vars.$font-color-off-white;

    strong
    {
        color: vars.$font-color-white;
    }

    .title
    {
        color: vars.$font-color-light-grey;
    }

    .subtitle
    {
        color: vars.$font-color-platinum;
    }
}